# Docker
/docker-compose.override.yml

# IDE
/.idea/**/dataSources/
/.idea/**/dataSources.local.xml
/.idea/**/workspace.xml
/.idea/**/tasks.xml
/.idea/dictionaries
*.iml

# OS
.DS_Store
Thumbs.db

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
